---
import type { CollectionEntry } from "astro:content";

const { work } = Astro.props as {
	work: CollectionEntry<"work">;
};

function prettyDate(date: Date) {
  return new Intl.DateTimeFormat("en-GB", {
    month: "short",
    year: "numeric",
  }).format(date);
}

const start = prettyDate(work.data.startDate);

const end = work.data.endDate
  ? prettyDate(work.data.endDate)
  : "Current";
---

<section
	class="bg-secondary border-accent rounded-2xl p-6 my-8 max-w-3xl mx-auto shadow-lg font-sans"
>
	<h1>
		{work.data.title} @ {work.data.company}
	</h1>
    <h4>{start} – {end}</h4>

	{
		work.data.tags && (
			<p class="">
				<strong>Key Technologies:</strong>{" "}
				<span class="italic">{work.data.tags.join(", ")}</span>
			</p>
		)
	}

	<a href={`/work/${work.slug}/`}> View work → </a>
</section>
