---
import "../styles/global.css";
const { title, description,canonicalPath = Astro.url.pathname } = Astro.props;
// TODO
// const site : string = "https://awais.me"
// const canonical = new URL(canonicalPath, site.url).toString();
//
const robots = "index,follow"
---

<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content={description} />
        <!-- <link rel="canonical" href={canonical} /> -->
        <meta name="robots" content={robots} />
        
        <!-- <meta name="theme-color" content={themeColor} /> -->
        
        <!-- <meta property="og:type" content={computedOgType} /> -->
        <meta property="og:title" content="website" />
        <meta property="og:description" content={description} />
        <!-- <meta property="og:url" content={canonical} /> -->
        <!-- {hasOg && <meta property="og:image" content={ogImage} />} -->
        <!-- {hasOg && ogImageAlt && <meta property="og:image:alt" content={ogImageAlt} />} -->
        <meta property="og:site_name" content="Awais Amjad" />
        <meta property="og:locale" content="en" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <link rel="alternate icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-container" aria-label="Main Navigation">
					<div class="nav-links">
						<a href="/" class="nav-link">Home</a>
						<a href="/blog" class="nav-link">Blog</a>
						<a href="/projects" class="nav-link">Projects</a>
						<a href="/work" class="nav-link">Work</a>
					</div>
					<aside class="social-links" aria-label="Social Media">
						<a
							href="https://www.linkedin.com/in/awais-amjad-dev/"
							class="social-link"
							target="_blank"
						>
							<img
								src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg"
								alt="Linkedin"
								width="24"
								height="24"
							/>
						</a>
						<a
							href="https://codeberg.org/awaisamjad"
							class="social-link"
							target="_blank"
						>
							<img
								src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/codeberg.svg"
								alt="Codeberg"
								width="24"
								height="24"
							/>
						</a>
						<a
							href="mailto:awais@awais.me"
							class="social-link"
							target="_blank"
						>
							<img
								src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg"
								alt="Email"
								width="24"
								height="24"
							/>
						</a>
					</aside>
				</div>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<blockquote>
				To do a thing today, and the same tomorrow. Gathering is the
				essence of knowledge<br />Thus one may achieve wisdom. For
				streams are but the gatherings of drops
			</blockquote>
		</footer>
	</body>
</html>
